@import url("./variables.css");

/* font-family: 'Plus Jakarta Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* font-family: "Open Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    position: relative;
    background-color: var(--black);
}

a {
    text-decoration: none;
    transition: 0.3s all ease;
}



/* =======================================================================
    Buttons CSS
========================================================================== */
.primary-btn {
    --width: 150px;
    --timing: 2s;
    border: 0;
    width: var(--width);
    color: var(--white);
    font-weight: 400;
    font-size: 1em;
    background: var(--green);
    transition: all 0.2s;
    border-radius: 3px;
    cursor: pointer;
    padding: 13px 20px;
    border-radius: 50rem;
    text-align: center;
}

.primary-btn:hover {
    background-image: linear-gradient(to right,
                #2c4c3b,
                #2c4c3b 16.65%,
                #306844 16.65%,
                #306844 33.3%,
                #182c25 33.3%,
                #182c25 49.95%,
                #1e453e 49.95%,
                #1e453e 66.6%,
                #2c4c3b 66.6%,
                #2c4c3b 83.25%,
                #455b55 83.25%,
                #455b55 100%,
                #2c4c3b 100%);
    animation: var(--timing) linear dance6123 infinite;
    transform: scale(1.1) translateY(-1px);
}

@keyframes dance6123 {
    to {
        background-position: var(--width);
    }
}




.nav-link-btn {
    color: var(--light-green);
    text-decoration: none;
    border: none;
    background: none;
}

.nav-link-btn::before {
    margin-left: auto;
}

.nav-link-btn::after,
.nav-link-btn::before {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--white);
    display: block;
    transition: 0.5s;
}

.nav-link-btn:hover::after,
.nav-link-btn:hover::before,
.nav-link-btn.active {
    width: 100%;
}
.nav-link-btn:hover{
    color: var(--white);
}









.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
}

.cta:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    border-radius: 50px;
    background: var(--light-green);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--white);
}

.cta svg {
    position: relative;
    top: -1px;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--white);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: var(--light-green);
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

/* =======================================================================
    General Common CSS
========================================================================== */
.section-heading{
    position: relative;
    margin-bottom: 50px;
}
.section-heading h2{
    color: var(--green);
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 5px;
}
.section-heading p{
    color: var(--heading-text);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}
.section-heading .line{
    display: block;
    width: 100px;
    height: 4px;
    border-radius: 50rem;
    background-color: var(--wa);
    margin: 0 auto;
    margin-bottom: 10px;
}
.section-heading .line.white{
    background-color: var(--white);
}


/* =======================================================================
    Navbar CSS
========================================================================== */
.top-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    padding: 15px 0;
}
.top-nav .social-box{
    display: flex;
    align-items: center;
    justify-content: start;
}
.top-nav .social-box a{
    background-color: var(--green);
    color: var(--white);
    margin-right: 10px;
    display: flex;
    font-size: 14px;
    width: 30px;
    height: 30px;
    border-radius: 50rem;
    align-items: center;
    justify-content: center;
    border: 1.5px solid var(--green);
}
.top-nav .social-box a:hover{
    background-color: var(--white);
    color: var(--green);

}

.main-nav{
    background: linear-gradient(270deg, #20463B 0%, #266351 100%);
    padding: 12px 0;
}
.main-nav .nav-link{
    color: var(--light-green);

}
.main-nav .nav-link:hover{
    color: var(--white);
}
.main-nav .nav-link.active{
    color: var(--white);
}
.main-nav .nav-item{
    padding-left: 30px;
}
.main-nav .navbar-toggler,
.main-nav .navbar-toggler:focus{
    border: none;
    color: var(--white);
    font-size: 30px;
    box-shadow: none;
}
.main-nav .colored{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    background: linear-gradient(270deg, #20463B 0%, #266351 100%) !important;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 10;

}

#mobileMenuOffcanvas{
    background: linear-gradient(180deg, #20463B 0%, #266351 100%);
}
#mobileMenuOffcanvas .logo-box{
    margin-bottom: 30px;
}
#mobileMenuOffcanvas .link-box{
    margin-bottom: 30px;
}
#mobileMenuOffcanvas .link-box ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#mobileMenuOffcanvas .link-box ul li{
    border-bottom: 1px solid var(--light-green);

}
#mobileMenuOffcanvas .link-box ul li .nav-link{
    padding: 10px 10px;
    color: var(--white);
    display: block;
}
#mobileMenuOffcanvas .link-box ul li .nav-link:hover{
    background-color: var(--white);
    color: var(--green);
    font-weight: 500;
}
#mobileMenuOffcanvas .social-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
#mobileMenuOffcanvas .social-box a{
    background-color: var(--green);
    color: var(--white);
    margin-right: 10px;
    display: flex;
    font-size: 14px;
    width: 30px;
    height: 30px;
    border-radius: 50rem;
    align-items: center;
    justify-content: center;
    border: 1.5px solid var(--green);
}
#mobileMenuOffcanvas .social-box a:hover{
    background-color: var(--white);
    color: var(--green);
}
#mobileMenuOffcanvas .btn-close:focus{
    box-shadow: none;
}
#mobileMenuOffcanvas .btn-close{
    color: var(--white);
}







/* =======================================================================
    Main Banner CSS
========================================================================== */
.main-banner-sec{
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../images/bg-img.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 100px 0 80px 0;
}
.main-banner-sec .heading{
    margin-bottom: 10px;
}
.main-banner-sec .heading h1{
    text-align: left;
    color: var(--white);
    font-weight: 700;
    font-size: 45px;
}
.main-banner-sec .heading h2{
    text-align: center;
    color: var(--white);
    font-weight: bold;
    font-size: 35px;
}
.main-banner-sec .desc{
    color: var(--white);
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
.main-banner-sec .desc .highlite{
    background-color: var(--white);
    color: var(--orange);
    font-weight: 600;
    padding: 0 5px;
}
.main-banner-sec .text{
    color: var(--white);
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}
.btn-black{
    background-color: var(--black);
    font-size: 20px;
    font-weight: 500;
    padding: 12px 30px;
    border-radius: 10px;
    color: var(--white);
}
.main-banner-sec .name{
    color: var(--white);
    font-size: 14px;
    font-style: italic;
    margin-bottom: 50px;
}
.main-banner-sec .img-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.main-banner-sec .img-box img{
    display: block;
    margin: 0 0.5rem;
    width: calc(33.3% - 1rem);
    border-radius: 50rem;
    -o-object-fit: cover;
    object-fit: cover;
    border: 3px solid var(--white);
}
.main-banner-sec .img-box .img-short{
    min-height: 420px;
}
.main-banner-sec .img-box .img-long{
    min-height: 560px;
}


/* =======================================================================
    Make different Section CSS
========================================================================== */
.makes-different-sec{
    padding: 100px 0 70px 0;
    background-color: var(--light-gray);
}
.diff-item-box{
    padding: 32px;
    background-color: var(--white);
    border-radius: 32px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .04);
    border: 1px solid #F5F5F5;
    text-align: center;
    transition: 0.3s all ease;
    margin-bottom: 30px;
}
.diff-item-box .title{
    font-size: 24px;
    font-weight: 700;
    color: var(--wa);
    margin-bottom: 10px;
}
.diff-item-box .desc{
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.diff-item-box:hover{
    transform: translateY(-20px);
}


/* =======================================================================
    Consultaion Banner CSS
========================================================================== */
.consultaion-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('https://cdn.pixabay.com/photo/2017/08/11/00/09/street-workout-2629171_1280.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0 80px 0;
}
.consultaion-banner .section-heading h2{
    margin-bottom: 20px;
}
.consultaion-banner .section-heading .line{
    margin-bottom: 30px;
}



/* =======================================================================
    Our Services Section CSS
========================================================================== */
.services-sec{
    padding: 100px 0;
    background-color: var(--white);
}
.service-item.one{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.pixabay.com/photo/2019/02/19/14/38/fitness-4006934_1280.jpg');
}
.service-item.two{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.pixabay.com/photo/2017/08/07/14/02/people-2604151_1280.jpg');
}
.service-item.three{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.pixabay.com/photo/2016/11/29/09/11/fit-1868634_1280.jpg');
}
.service-item.four{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.pixabay.com/photo/2017/02/09/17/38/kettlebells-2052982_1280.jpg');
}
.service-item{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}
.service-item .name-box{
    background-color: #ffffff6b;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(70px);
    transition: 0.3s all ease;
    text-align: center;
    padding: 20px 10px;
}
.service-item:hover .name-box{
    transform: translate(0);
}
.service-item .name-box a{
    color: var(--black);
    font-size: 22px;
    font-weight: 600;
}
.service-item .name-box a:hover{
    letter-spacing: 0.5px;
    color: var(--wa);
}


/* =======================================================================
    Footer CSS
========================================================================== */
.footer-spacing{
    /* width: 100%; */
    height: 355px;
    float: left;
}
footer{
    background: linear-gradient(270deg, #20463B 0%, #266351 100%);
    text-align: center;
    padding: 70px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
footer .logo-box{
    margin-bottom: 30px;
}
footer .logo-box a img{
    width: 260px;
}
footer .social-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
footer .social-box a{
    background-color: var(--green);
    color: var(--white);
    margin-right: 10px;
    display: flex;
    font-size: 14px;
    width: 40px;
    height: 40px;
    border-radius: 50rem;
    align-items: center;
    justify-content: center;
    border: 1.5px solid var(--green);
}
footer .social-box a:hover{
    background-color: var(--white);
    color: var(--green);
}
footer .links-box{
    margin-bottom: 20px;
}
footer .links-box a{
    color: var(--light-green);
    border-right: 1px solid var(--gray);
    padding: 5px 10px;
}
footer .links-box a:hover{
    color: var(--white);
}
footer .copyright-box p{
    color: var(--light-green);
    font-size: 14px;
    margin-bottom: 0;
}
footer .newsletter-box{
    text-align: start;
    margin: 0 auto;
    display: grid;
    justify-content: center;
}
footer .newsletter-box .title{
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}
footer .newsletter-box .desc{
    color: var(--gray);
    font-size: 13px;
}


footer .newsletter-box .newsletter-input{
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid var(--light-green);
    width: 50%;
    color: var(--white);
    min-height: 40px;
    padding: 0 10px;
    font-size: 14px;
    font-style: italic;
}
footer .newsletter-box .newsletter-input:focus{
    border: none;
    border-bottom: 2px solid var(--light-green);
    box-shadow: none;
    background-color: #448d7528;
}
footer .newsletter-box .newsletter-input:focus-visible{
    outline-offset: unset;
    outline: none;
}


/* =======================================================================
    Preloader Section CSS
========================================================================== */
.loader {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.bar {
    display: inline-block;
    width: 3px;
    height: 50px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
    height: 65px;
    margin: 0 15px;
    animation-delay: .25s;
}

.bar:nth-child(3) {
    animation-delay: .5s;
}

@keyframes scale-up4 {
    20% {
        background-color: #ffff;
        transform: scaleY(1.5);
    }

    40% {
        transform: scaleY(1);
    }
}





































































/* =======================================================================
    Expertly Section CSS
========================================================================== */
.expertly-sec{
    background-color: #9fd9e7;
    padding: 30px 0;
}
.expertly-sec .heading h2{
    color: var(--white);
    font-size: 60px;
    margin-bottom: 0;
    line-height: 75px;
    font-weight: 500;
}
.expertly-sec .img-box img{
    width: 100%;
}





/* =======================================================================
    Build for you section CSS
========================================================================== */
.built-for-you-sec{
    padding: 70px 0 50px 0;
}
.built-for-you-sec .item-box{
    text-align: center;
}
.built-for-you-sec .item-box .name-box p{
    color: var(--orange);
    font-weight: 500;
    font-size: 14px;
    min-height: 40px;
}
.built-for-you-sec .item-box .img-box img{
    width: 100%;
    /* height: 150px; */
    border-radius: 5px;
}
.built-for-you-sec .item-box .text-box{
    position: relative;
}
.built-for-you-sec .item-box .text-box p{
    color: var(--orange);
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    bottom: -265px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.built-for-you-sec .title{
    background-color: var(--sky);
    padding: 10px 20px;
    border-radius: 100px;
    margin-left: auto;
    width: fit-content;
    width: 200px;
    text-align: center;

}
.built-for-you-sec .title p{
    font-size: 20px;
    color: var(--white);
    font-weight: 600;
    margin-bottom: 0;
}
.built-for-you-sec .btn-black{
    font-size: 14px;
}



/* =======================================================================
    How it works section CSS
========================================================================== */
.how-it-works-sec{
    background-color: var(--orange);
    padding: 70px 0 40px 0;
}
.how-it-works-sec .item-box{
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}
.how-it-works-sec .item-box .number{
    background-color: var(--white);
    color: var(--orange);
    text-align: center;
    height: 35px;
    width: 35px;
    border-radius: 100px;
    align-items: center;
    vertical-align: middle;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    padding-top: 3.5px;
}
.how-it-works-sec .item-box .inner-item-box{
    border: 1px solid var(--white);
    border-radius: 15px;
    padding: 20px 30px;
}
.how-it-works-sec .item-box .inner-item-box img{
    width: 107px;
    height: 100px;
    object-fit: cover;
    object-position: center center;
}
.how-it-works-sec .item-box .inner-item-box .text{
    color: var(--white);
    font-weight: 600;
    font-size: 16px;
}




/* =======================================================================
    App Section CSS
========================================================================== */
.app-sec{
    position: relative;
    padding: 70px 0 40px 0;
    background-color: var(--sky);
}
.app-sec .img-box{
    position: relative;
}
.app-sec .img-box .img-1{
    position: absolute;
    left: 100px;
    bottom: 50px;
}
.app-sec .img-box .img-2{
    position: absolute;
    left: 200px;
    top: -265px;
}
.app-sec .img-box .img-3{
    position: absolute;
    left: 437px;
    bottom: -60px;
}
.app-sec .img-box .img-4{
    position: absolute;
    left: 0px;
    top: 12px;
}
.app-sec .content-box .title{
    font-size: 35px;
    color: var(--black);
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.app-sec .content-box .desc{
    color: var(--heading-text);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}



/* =======================================================================
    Testimonal Sec CSS
========================================================================== */
.testimonals-sec{
    padding: 50px 0 20px 0;
}
.testmonial-box{
    margin-bottom: 30px;
}
.testmonial-box .name{
    color: var(--black);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.testmonial-box .desc{
    color: var(--black);
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 10px;
    min-height: 130px;
}
.testmonial-box .rating-box{
    margin-bottom: 20px;
}
.testmonial-box .rating-box i{
    font-weight: bold;
    color: #FFD800;
}
/* =======================================================================
    Custom ScrollBar CSS
========================================================================== */
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 7px;
    height: 4px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--orange);
}




